* {
  margin: 0;
  padding: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

a {
  font-family: 'Arvo', sans-serif;
  text-decoration: none;
  color: black;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px 0 50px;
}

.body {
  font-family: 'Arvo', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 100;
  background-color: #fff;
  border-bottom: 7px solid #FF0000;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22px;
}

.header__logo {
  font-size: 64px;
  line-height: 79px;
  text-transform: uppercase;
  font-weight: normal;
}

.navigation__input {
  display: none;
}

.navigation__burger-line {
  position: absolute;
  width: 44px;
  height: 6px;
  background-color: #000;
  border-radius: 6px;
}

.navigation__label {
  position: relative;
  width: 44px;
  height: 44px;
  display: block;
  cursor: pointer;
  z-index: 10;
}

.navigation__label .first {
  top: 0;
  left: 0;
}

.navigation__label .second, .navigation__label .third {
  top: 16px;
  left: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.navigation__label .fourth {
  top: 32px;
  left: 0;
}

.navigation__main-menu {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  text-align: center;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
  background-color: white;
}

.navigation__link {
  display: block;
  margin: 12px auto 16px;
  padding: 0 4%;
  text-transform: uppercase;
  border: .5px solid #8B8B8B;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px #000000;
          box-shadow: 0px 0px 2px #000000;
  color: #8B8B8B;
  width: 50%;
}

.navigation__link:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation__contacts {
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: white;
}

.navigation .contacts__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .contacts__wrap img {
  margin-right: 8px;
}

.navigation .contacts__wrap p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .contacts__wrap:not(:last-child) {
  margin-bottom: 6px;
}

.navigation__link:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #CBCBCB;
  border-color: #CBCBCB;
  color: black;
}

.navigation__input:checked ~ .navigation__main-menu {
  max-height: 300px;
  font-size: 16px;
}

.navigation__input:checked ~ .navigation__contacts {
  max-height: 300px;
  font-size: 16px;
}

.navigation__input:checked ~ .navigation__label .first {
  opacity: 0;
}

.navigation__input:checked ~ .navigation__label .second, .navigation__input:checked ~ .navigation__label .thrid {
  top: 16px;
  left: 0;
}

.navigation__input:checked ~ .navigation__label .fourth {
  opacity: 0;
}

.navigation__input:checked ~ .navigation__label .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation__input:checked ~ .navigation__label .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.commercial {
  display: none;
}

.section-content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-top: 90px;
  height: 80vh;
  padding: 0 22px;
}

.section-content .container {
  border: 1px solid #000;
  position: relative;
  padding: 0;
}

.section-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-content .price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.section-content .price__title {
  padding: 0 28px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  min-width: 245px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  border-top: transparent;
  border-left: transparent;
}

.section-content .price__title span {
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-content .price__lead {
  display: block;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 50%;
  font-size: 13px;
  line-height: 16px;
}

.section-content .price__lead a {
  text-decoration: underline;
  color: #1fadd8;
  font-size: 13px;
  line-height: 16px;
}

@media (min-width: 768px) {
  * {
    font-size: 14px;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
  }
  .header__logo {
    font-size: 64px;
    line-height: 79px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navigation__label {
    display: none;
  }
  .navigation__main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: initial;
    top: 0;
    right: 0;
    width: auto;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    max-height: 100%;
    font-size: 16px;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .navigation__link {
    width: auto;
    margin: 0 2%;
  }
  .navigation__contacts {
    position: initial;
    padding: 16px 0;
    width: auto;
    max-height: 100%;
  }
  .navigation__contacts .contacts__text {
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .navigation__contacts .contacts__wrap {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .commercial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -151px;
    top: 379px;
    padding: 0 16px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    text-transform: uppercase;
  }
  .commercial__item {
    border: 1px solid black;
  }
  .commercial__item:not(:last-child) {
    margin-right: 24px;
  }
  .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding: 0 50px;
    margin-top: 140px;
  }
  .section-content .container {
    min-width: 100%;
    margin-right: 54px;
  }
  .section-content .container:nth-child(2) {
    height: 100%;
    min-width: 100%;
  }
  .section-content .container:nth-child(3) {
    height: 100%;
    min-width: 100%;
  }
  .section-content__wave {
    justify-self: flex-end;
    min-width: 204px;
    min-height: 300px;
    width: 204px;
    max-width: 204px;
    min-height: 350px;
    border: 1px solid black;
  }
  .section-content .price__wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0;
    margin: 0;
  }
}

.a123 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

@media (min-width: 768px) and (max-width: 880px) {
  .navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation__main-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 90px;
    height: 38px;
    left: 43px;
    width: 100%;
    background-color: transparent;
  }
  .navigation__main-menu .navigation__link {
    margin-left: 0;
    margin-right: 24px;
  }
}

.test {
  width: 500px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  overflow: auto;
}

.test1 {
  min-width: 250px;
  height: 100%;
  background-color: brown;
  z-index: 5;
}

.test2 {
  min-width: 250px;
  height: 100%;
  background-color: cadetblue;
}

.test3 {
  min-width: 250px;
  height: 100%;
  background-color: #181b1b;
}
